body {
    background: none repeat scroll 0 0 #F6F8F8;
    color: #4C4C4C;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    line-height: 25px;
}

.contentZone {
    background: none repeat scroll 0 0 white;
    border-color: #F1F1F1 #E7E6E6 #CFCFCF;
    border-radius: 6px 6px 6px 6px;
    border-style: solid;
    border-width: 1px;
    max-width: 1108px;
    min-height: 800px;
    padding: 0;
    margin-top: 73px; 
    margin-bottom: 73px;
}

.catname {
    color: black;
    font-family: 'Varela Round',sans-serif;
    font-size: 36px;
    font-weight: normal;
    margin: 10px 4.5% 10px;
    float: left;
}


.padding_10 {
	padding: 10px;
}

.margin_10 {
	margin: 10px;
}

.margin_t_50 {
	margin-top: 50px;
}

.margin_t_70 {
	margin-top: 70px;
}

.l{
	float: left;
}

.r{
	float: right;
}